.cards {
    display: flex;
}
.cards--horizontal {
    flex-direction: row;
}

.cards--vertical {
    flex-direction: column;
}

.card {
    display: flex;
    position: relative;
    // border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, 0.1);;
    margin-bottom: 18px;
    
    &__image {
        width: 40%;
        img {
            display: block;
            max-width: 100%;
            height: auto;
        }
    }
    &__content {
        padding: 5px 25px;
        color: rgba(0,0,0,0.5);
    }
    h3 {
        color: $brand-primary-light;
        font-size: $h4-size;
        font-weight: 500;
    }
    &__rating {
        position: absolute;
        top: 0;
        right: 0;
        background: $brand-secondary;
        padding: 4px 6px;
        color: $white;
        @include border-radius(3px);
    }
    &__arrow {
        position: absolute;
        bottom: 3px;
        right: 5px;
        color: rgba(0,0,0,0.3)
    }
}