.banner {
    background: $brand-primary;
    
    background-image: linear-gradient(
      rgba(20, 54, 102, 0.9),
      rgba(0, 0, 0, 0.5)
    ),   url('../img/banner-london.jpeg');
    background-size: cover;

    padding-bottom: 20px;
    &__title {
        margin-top: 0;
        font-size: 18px;
        float: left;
        a {
            text-decoration: none;
            color: $white;
        }
    }
    &__nav {
        padding: 30px 20px;
        @include clearfix;
    }
}

.nav--banner {
    float: right;
    .nav__item {
        padding: 0 15px;
        color: $white;
    }
    .nav__item--button {
        
    }
}

.banner__jumbotron {
    text-align: center;
    color: $white;
    h4 {
        text-transform: uppercase;
        letter-spacing: 1px;
    }

    h2{
        font-size: $kilo-size + 15;
        font-family: Papyrus, fantasy;
        margin: 20px 0;
    }
}

.banner__footer {
    @include clearfix;
    margin-top: 150px;
    padding: 0 15px;
    .browse--banner {
        float: left;
        background: rgba(0,0,0,0.5);
        padding: 3px 5px;
        color: rgba(255, 255, 255, 0.5);
    }
    .help--banner {
        float: right;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        color: $white;
    }
}